<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Vouchers</title>
    <link rel="stylesheet" href="css/estiloHome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <div class="container">
        <header>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h1 style="color: white; padding-left: 0.5em; padding-top: 0.3em;">Digital Vouchers</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p style="color: white; display: flex; justify-content: center; font-size: x-large;">Llego la nueva manera de incrementar tus ventas!!!</p>
                <br>
              </div>
          </div>
        </header>    

        <nav>
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container">
                  <div class="col-xl-12 col-lg-4 col-md-4 col-sm-6">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Persona
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="LogueoCliente.html">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="RegistroCliente.html" target="_parent">Registrarme</a></li>
                          </ul>
                        </div>
                        
                      </li>
                      <li class="nav-item">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Comercio
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="#">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="#">Registrarme</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="nav-item" style="padding-left: 0.8em;">
                        <a class="nav-link" href="VouchersHome.html#vouchersMasDescargados"><h6>Vouchers más Descargados</h6></a>
                      </li> 
                      <li class="nav-item" style="padding-left: 0.8em;">
                        <a class="nav-link" href="#"><h6>Contactanos</h6></a>
                      </li> 

                    </ul>

                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Búsqueda</button>
                    </form>
                  </div>
                </div>
                </div>
            </nav>            

        </nav>

        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
              <section>
                <article>
                  <br><br>
                  <h3>Historia:</h3>
                  <p><strong>Todo comenzó en el 2022, en plena reactivación de la economía luego de la pandemia que todos conocemos, cuando empezamos a notar que cada vez que volvíamos a casa de trabajar desde la zona céntrica de la ciudad de Córdoba, llegábamos a casa con un montón de papeles de distinto tamaños y diseños. Al momento de leerlos, notamos que muchos eran descuentos o regalos pero los mismos ya estaban caducados por lo que no tenían ningún otro destino más que la basura. Ahí nos dimos cuenta que podíamos ayudar al planeta si en vez de fomentar la impresión de miles de papeles, logramos reunir todos estos descuentos en 1 solo lugar. Y qué mejor lugar que una app dentro de nuestro celular, que nos avise de los locales cercanos que tienen descuentos y mejor aún, que nos avise si tenemos vouchers próximos a vencer. Rápidamente nos pusimos manos a la obra y creamos Digital Vouchers. La solución sustentable para el crecimiento de tu empresa.</strong></p>
                  <br><br>
                  <hr>
              </article>
              
              <article>
                  <h3>¿Quiénes somos?</h3>
                  <p><strong>Somos un equipo altamente capacitado para acompañarte en el crecimiento de tu empresa. Con nosotros, no solo tus métricas de ventas van a crecer, sino también tu visibilidad en tu barrio o localidad que te encuentres. Si recién arrancas tu negocio, estamos para ayudarte a que se posicione dentro del mercado rápidamente con nuestro producto, así que: ¿Qué estás esperando para empezar el cambio?</strong> </p>                
                  <br><br><br>
                  
              </article>

              <article>
                  <!--<h3>Beneficios de trabajar con nosotros</h3>
                  <p><strong>¡No te quedes afuera! Las siguientes empresas confiaron en nosotros y hoy en día, ven cómo crecen sus ventas:</strong> </p>-->
                  <h4><strong>¡No te quedes afuera! Muchas empresas ya confiaron en nosotros y hoy en día ven cómo sus ventas se incrementan exponencialmente....</strong></h4>                
                  <br><br>
              </article>
              </section>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12" id="aside">
                <aside> 
                  <form>
                    <br>
                    <!--<legend>Completa el formulario para recibir más información</legend>-->
                    <h5 style="color: black;">Completa el formulario para recibir más información</h5>
                    <hr>
                    
                    <div class="form-floating mb-4">
                      <input type="nombre" class="form-control" id="floatingNombre" placeholder="Nombre">
                      <label for="floatingNombre">Nombre</label>
                    </div>

                    <div class="form-floating mb-4">
                      <input type="apellido" class="form-control" id="floatingApellido" placeholder="Apellido">
                      <label for="floatingApellido">Apellido</label>
                    </div>

                    <div class="form-floating mb-4">
                      <input type="telefono" class="form-control" id="floatingTelefono" placeholder="Telefono">
                      <label for="floatingTelefono">Teléfono</label>
                    </div>

                    <div class="form-floating mb-4">
                      <input type="email" class="form-control" id="floatingTelefono" placeholder="Email">
                      <label for="floatingEmail">Email</label>
                    </div>
                    
                    <div id="cont-1">
                      <fieldset class="row">
                        <legend class="col-form-label col-lg-5 col-md-5 col-sm-6 pt-1">Preferencia de Contacto</legend>
                        <div class="col-form-label col-lg-5 col-md-5 col-sm-12">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                              Teléfono
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                              Email
                            </label>
                          </div>
                          <br>
                      </fieldset>
                    </div>

                    <div class="d-grid gap-2">
                      <br>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#envioForm">Enviar</button>
                     

                      <!--Modal posterior a envío de formulario en el caso que el mismo se haya completado de forma completa-->     
                      <div class="modal" tabindex="-1" id="envioForm" >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Información</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p id="modalForm">La información de contacto se envío de forma correcta. 
                                En breve nos pondremos en contacto.
                                Muchas gracias!!!</p>
                            </div>
                            <!--
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                            -->
                          </div>
                        </div>
                      </div>
                    
                    </div>  
                  </form>
                </aside>  
            </div>

        </div>

        <div class="row" style="background-color: rgb(221, 221, 221); width: 100%; margin-left: 0em; " >
          <div class="col-12" >
            <br>
            <h4>Algunos de nuestros Clientes:</h4>
            <hr>
          </div>
        </div>

        <div class="row" style="background-color: rgb(221, 221, 221); width: 100%; margin-left: 0em; ">
          <div class="col-12">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="imagenes/newsport.png" class="rounded mx-auto d-block" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="imagenes/easy.png" class="rounded mx-auto d-block" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="imagenes/elpalacio.png" class="rounded mx-auto d-block" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="imagenes/superdisco.jpg" class="rounded mx-auto d-block" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <br>



          </div>
        </div>

        <div class="row" style="background-color: rgb(221, 221, 221); width: 100%; margin-left: 0em; ">
          <div class="col-12" >
            <br><br><br>
            <a name="vouchersMasDescargados">
            <h4>Vouchers más Descargados</h4>
            <hr>
          </div>
        </div>
        
        <div class="row" style="background-color: rgb(221, 221, 221); width: 100%; margin-left: 0em; " >

            <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 0.5em;">
              <div class="card" style="border-width: 0.2em; border-radius: 1em;">
                    <div class="card-header" style="display: flex; justify-content: center ;">
                      <h5><strong>Voucher 1</strong></h5>
                    </div>

                  <div class="card-body">
                      <p class="card-text">Texto de ejemplo texto de ejemplo texto de ejemplo texto de ejemplo</p>
                      <br>
                      <a href="" class="btn btn-primary" style="display: flex; justify-content: center;">Más información</a>
          
                      <img src="imagenes/voucher.jpg" class="card-img-top" alt="..." style="width: 100%;">
                  </div>

                  <div class="card-footer text-muted" style="display: flex; justify-content: center;">
                    Vigencia: 01/01/2022 a 31/12/2022
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 0.5em;">
              <div class="card" style="border-width: 0.2em; border-radius: 1em;">
                    <div class="card-header" style="display: flex; justify-content: center ;">
                      <h5><strong>Voucher 2</strong></h5>
                    </div>

                  <div class="card-body">
                      <p class="card-text">Texto de ejemplo texto de ejemplo texto de ejemplo texto de ejemplo</p>
                      <br>
                      <a href="" class="btn btn-primary" style="display: flex; justify-content: center;">Más información</a>
          
                      <img src="imagenes/voucher.jpg" class="card-img-top" alt="..." style="width: 100%;">
                  </div>

                  <div class="card-footer text-muted" style="display: flex; justify-content: center;">
                    Vigencia: 01/01/2022 a 31/12/2022
                  </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 0.5em;">
              <div class="card" style="border-width: 0.2em; border-radius: 1em;">
                    <div class="card-header" style="display: flex; justify-content: center ;">
                      <h5><strong>Voucher 3</strong></h5>
                    </div>

                  <div class="card-body">
                      <p class="card-text">Texto de ejemplo texto de ejemplo texto de ejemplo texto de ejemplo</p>
                      <br>
                      <a href="" class="btn btn-primary" style="display: flex; justify-content: center;">Más información</a>
          
                      <img src="imagenes/voucher.jpg" class="card-img-top" alt="..." style="width: 100%;">
                  </div>

                  <div class="card-footer text-muted" style="display: flex; justify-content: center;">
                    Vigencia: 01/01/2022 a 31/12/2022
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 0.5em;">
              <div class="card" style="border-width: 0.2em; border-radius: 1em;">
                    <div class="card-header" style="display: flex; justify-content: center ;">
                      <h5><strong>Voucher 4</strong></h5>
                    </div>

                  <div class="card-body">
                      <p class="card-text">Texto de ejemplo texto de ejemplo texto de ejemplo texto de ejemplo</p>
                      <br>
                      <a href="" class="btn btn-primary" style="display: flex; justify-content: center;">Más información</a>
          
                      <img src="imagenes/voucher.jpg" class="card-img-top" alt="..." style="width: 100%;">
                  </div>

                  <div class="card-footer text-muted" style="display: flex; justify-content: center;">
                    Vigencia: 01/01/2022 a 31/12/2022
                  </div>
              </div>
            </div>

        </div>

        <div class="row" style="background-color: rgb(221, 221, 221); width: 100%; margin-left: 0em;">
          <br> <br>
        </div>

        
         <footer>
            <p>Derechos de autor</p>
         </footer>
    
    </div>

</body>
</html>